$font-rosario: 'Rosario', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-rasa: 'Rasa', serif;
$font-roboto: 'Roboto', sans-serif;
$white: #fff;
$blue: #3A4454;
$flex: flex;
$yellow: #FFE161;