.headerNav{
    width: 100%;
    background: $blue;
    position: absolute;
    z-index: 1;
}
.navbar{
    width: 100%;
    background: $blue;
    font-family: $font-rosario;
    padding: 8px;
    position: fixed;
    ul {
        overflow: hidden;
        list-style: none;
        li {
            float: left;    
                a {
                    padding: 20px;
                    display: block;
                    color: $white;
                    text-decoration: none;
                }
                a:hover{
                    background:rgb(240, 236, 236);
                    font-weight: bold;
                    color: rgb(27, 27, 27);
                }
            }
    }
}
.div-btn-menu{
    display: none;
}
.icon-menu{
    width: 25px;
}
.ulNav{
    float: right;
    padding-right: 25px;
}
 

@media screen and (max-width: 780px){
    .navbar{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
        margin-top: 50px;
        transition: .5s;
        top: 0;
        width: 60%;
        max-width: 250px;
        margin-top: 55px;
        left: -80%;
    }
    .navbar ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .div-btn-menu{
        display: block;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 40px;
        background: $blue;
        padding: 15px 0 15px 0;
    }
    .btn-menu{
        background-color: transparent;
        cursor: pointer;
        padding: 5px;
        border: $white solid 1px;
        margin-right: 15px;
        float: right;
    } 
    nav.active {
        left: 0;
        transition: left .5s;
    }
    .aboutDiv{
        flex-direction: row;
    }
}