// MEDIA QUERY
@mixin media($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: 60em) {
        @content;
      }
    }
  }
  
  @mixin media($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
  }
  


  // VARIABLES
  $color-header: #0d0d0d;
  $color-text: #404040;
  
  $color-btn-text: #3363ff;
  $color-btn-background: #e6ecff;
  
  $transition: .2s;
  
  // RESET
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  // GLOBAL
  // html {
  //   box-sizing: border-box;
  //   font-size: 62.5%; // 10px/16px
  // }
  
  .grid_projects {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2.5rem;
    // background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
    @include media(360px) {
      .grid{
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      }
      .card{
        &__header{
          font-size: 1rem;
          font-weight: 500;
        }
        &__content{
          padding: 1.2rem;
        }
        &__text{
          font-size: .8rem;
        }
        &__btn{
          padding: .3rem;
          font-size: 1rem;
        }
        span{
          img{
            height: 22px;
          }
        }
      }
    }
    @include media(small) {
        // padding: 0.5rem;
     }
  }
  
  // MAIN CONTENT
  .grid {
    display: grid;
    width: 114rem;
    grid-gap: 6rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(30rem, 1fr)
    );
    align-items: start;
    
    @include media(small) {
        grid-gap: 3rem;
     }
    
    &__item {
      background-color: #fff;
      border-radius: .4rem;
      overflow: hidden;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
      // cursor: pointer;
      transition: $transition;
      
      &:hover {
        transform: translateY(-.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
      }
    }
  }
  
  .card {
    &__img {
      display: block;
      width: 100%;
      object-fit: cover;
     }
    
    &__content {
      padding: 2rem;
    }
    
    &__header {
      font-size: 2rem;
      font-weight: 500;
      color: $color-header;
      margin-bottom: 1.5rem;
    }
    
    &__text {
      font-size: 1.2rem;
      // letter-spacing: .1rem;
      line-height: 1.7;
      color: darken($color-text, 1%);
      margin-bottom: 2rem;
    }
    
    &__btn {
      display: block;
      padding: .5rem;
      font-size: 1.5rem;
      text-align: center;
      color: $color-btn-text;
      background-color: $color-btn-background;
      border: none;
      border-radius: .4rem;
      transition: $transition;
      cursor: pointer;
      margin: auto;
      margin-bottom: 1rem;
      
      span {
        margin-left: 1rem;
        transition: $transition;
        img{
          height: 30px;
        }
      }
      
      &:hover,
      &:active {
        background-color: darken( $color-btn-background, 2%);
        
          span {
          margin-left: 1.5rem;
        }
      }
    }
  }