$font-rosario: 'Rosario', sans-serif;
$white: #fff;
$blue: #3A4454;
$flex: flex;

*{
    margin:0;
    padding: 0;
}
body{
    background-color: $white;
}
.flex{
    display: flex;
}
header {
    width: 100%;
    nav {
        width: 80%;
        max-width: 1000px;
        margin: 20px auto;
        background: $blue;
        font-family: $font-rosario;
        ul {
            overflow: hidden;
            list-style: none;
            li {
                float: left;    
                a {
                color: $white;
                padding: 20px;
                display: block;
                text-decoration: none;
                }
            } 
        }   
    }   
}
a:hover{
background:rgb(197, 196, 196);
color: rgb(27, 27, 27);
font-weight: bold;
}
.icon-menu{
    width: 25px;
}
.div-btn-menu {
    display: none;
}
.btn-menu{
    border:none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    padding: 5px;
    border: $white solid 1px;
    left: 300px;
}
@media screen and (max-width:800px){
    header nav{
        width: 80%;
        height: 100%;
        margin:0;
        position: fixed;
        left: -80%;
        transition: .5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .div-btn-menu{
        display: block;
        width: 100%;
        height: 40px;
        background: $blue;
        padding: 15px;
        // -webkit-box-sizing: border-box;
        // -moz-box-sizing: border-box;
        // box-sizing: border-box;
    }
    .div-btn-menu span {
        float: left;
        font-size: 15px;
        font-family: $font-rosario;
        font-weight: bold;
        color: $white;
    }
}